.config/gtk-3.0/gtk.css
.config/gtk-4.0/gtk.css
.config/Kvantum/pywal/pywal.kvconfig
.config/Kvantum/pywal/pywal.svg
.config/presets/user/pywal.json
.config/waypaper/config.ini
.config/gtk-3.0/gtk.css
.config/gtk-3.0/gtk.css.bak
.config/gtk-4.0/gtk.css
.config/gtk-4.0/gtk.css.bak
.config/Kvantum/pywal/pywal.kvconfig
.config/Kvantum/pywal/pywal.svg
.config/presets/user/pywal.json
