/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #040612 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c0c0c3; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c0c0c3; background-color: rgba(251,182,189,0.4)}
.cm-s-nqqwal { background-color: #040612; color: #c0c0c3; }
.cm-s-nqqwal span.cm-builtin { color: #B761B5; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #42444d; }
.cm-s-nqqwal span.cm-keyword { color: #1C9FDA; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #328BCE; }
.cm-s-nqqwal span.cm-def { color: #4987CF; }
.cm-s-nqqwal span.cm-variable { color: #FBB6BD; }
.cm-s-nqqwal span.cm-variable-2 { color: #4987CF; }
.cm-s-nqqwal span.cm-string { color: #B761B5; }
.cm-s-nqqwal span.cm-string-2 { color: #B761B5; }
.cm-s-nqqwal span.cm-number { color: #4987CF; }
.cm-s-nqqwal span.cm-tag { color: #1C9FDA; }
.cm-s-nqqwal span.cm-property { color: #FBB6BD; }
.cm-s-nqqwal span.cm-attribute { color: #FBB6BD; }
.cm-s-nqqwal span.cm-qualifier { color: #328BCE; }
.cm-s-nqqwal span.cm-meta { color: #4987CF; }
.cm-s-nqqwal span.cm-header { color: #1C9FDA; }
.cm-s-nqqwal span.cm-operator { color: #1C9FDA; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(73,135,207,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #1C9FDA; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #040612); }
